* {
	background-color: lavender
	font:normal bold 1em serif;
	text-decoration: none;
	}

header h2 {
	font-size: 2em;
	color : skyblue;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
h2:hover {
	text-shadow: 0 0 25px blue, 0 0 5px darkblue;
}
header hr {
	border:4px;
	color:deepskyblue;
}


article > h3 {
	font-size : 2em;
	color : aliceblue;
	text-shadow: 0 0 25px blue, 0 0 5px darkblue;
}

.imgnone { list-style-type: none; }